@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap');

/* --- Color Palettes ------------------------------ */

:root {
  --white: #fff;
  --black: #000;
  /* chrome */
  --chrome-1: #f5f5f5;
  --chrome-2: #eaeaea;
  --chrome-3: #999;
  --chrome-4: #888;
  --chrome-5: #666;
  --chrome-6: #444;
  --chrome-7: #333;
  --chrome-8: #1a1a1a;
  --chrome-9: #222;
  /* blue */
  --blue-1: #4fb8ff;
  --blue-2: #62bbee;
  --blue-3: #0070f3;
  --blue-4: #0761d1;
  /* cyan */
  --cyan-1: #a3faef;
  --cyan-2: #00cdb3;
  --cyan-3: #00ffe5;
  --cyan-4: #29bc9b;
  /* pink */
  --pink-1: #f81ce5;
  --pink-2: #eb367f;
  --pink-3: #ff0080;
  --pink-4: #6c00f8;
}

/* --- Theme ------------------------------ */

/* Light Theme */
:root {
  --bgBorder: var(--chrome-2);
  --bgColor: var(--chrome-1);
  --bgContainer: var(--white);
  --bgClear: rgba(0, 0, 0, 0.2);
  --boxShadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --dataTheme: light;
  --primaryColor: var(--blue-3);
  --primaryColorAlt: var(--cyan-2);
  --secondaryColor: var(--pink-3);
  --tertiaryColor: var(--blue-3);
  --textColor: var(--chrome-9);
  --textColorAlt: var(--chrome-5);
  --textColorHead: var(--black);
  /* Nav */
  --navColor1: var(--chrome-2);
  --navColor2: var(--chrome-3);
  --navColor3: var(--chrome-4);
  --navColor4: var(--chrome-5);
  --navColor5: var(--chrome-6);
  /* Typography */
  --headingFont: 'IBM Plex Mono', sans-serif;
  --bodyFont: 'IBM Plex Sans', sans-serif;
}

/* Dark Theme */
.darkmode {
  --bgBorder: var(--chrome-7);
  --bgColor: var(--chrome-8);
  --bgContainer: var(--chrome-7);
  --bgClear: rgba(0, 0, 0, 0.7);
  --dataTheme: dark;
  --primaryColor: var(--cyan-2);
  --primaryColorAlt: var(--cyan-3);
  --secondaryColor: var(--pink-1);
  --tertiaryColor: var(--blue-2);
  --textColor: #7e7e7e;
  --textColorAlt: #ffffffb3;
  --textColorHead: var(--white);
  /* Nav */
  --navColor1: var(--chrome-8);
  --navColor2: var(--chrome-7);
  --navColor3: var(--chrome-6);
  --navColor4: var(--chrome-5);
  --navColor5: var(--chrome-4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: var(--chrome-8);
    --bgContainer: var(--chrome-7);
    --bgClear: rgba(0, 0, 0, 0.7);
    --dataTheme: dark;
    --primaryColor: var(--cyan-2);
    --primaryColorAlt: var(--cyan-3);
    --secondaryColor: var(--pink-1);
    --tertiaryColor: var(--blue-2);
    --textColor: #7e7e7e;
    --textColorAlt: #ffffffb3;
    --textColorHead: var(--white);
    --navColor1: var(--chrome-8);
    --navColor2: var(--chrome-7);
    --navColor3: var(--chrome-6);
    --navColor4: var(--chrome-5);
    --navColor5: var(--chrome-4);
  }
}

/* --- Layout ------------------------------ */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  min-height: 80vh;
  width: 100vw;
  max-width: 1170px;
}

section p {
  margin: 1rem;
}

a {
  color: var(--blue-3);
  text-decoration: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--textColorHead);
  font-family: var(--headingFont);
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

.fab,
.fas {
  color: var(--blue-3);
  font-size: 2rem;
  width: 36px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

/* --- Buttons ------------------------------ */

.btn {
  background: #000;
  border-radius: 0.3rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem 1.5rem 0 0;
  padding: 0.5rem 1rem;
  width: 48%;
  -webkit-appearance: none;
}

.btn:focus {
  outline: none;
}

.btn.submit {
  float: right;
}

/* --- Navigation Menu ------------------------------ */

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 25%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: var(--primaryColorAlt);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

nav li a::before {
  content: '';
  width: 25vw;
  height: 3px;
  background: var(--primaryColorAlt);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background: var(--navColor1);
}

nav li:nth-of-type(2) {
  background: var(--navColor2);
}

nav li:nth-of-type(3) {
  background: var(--navColor3);
}

nav li:nth-of-type(4) {
  background: var(--navColor4);
}

nav li:nth-of-type(5) {
  background: var(--navColor5);
}

.navbar {
  background: var(--bgClear);
  border: 1px solid var(--bgClear);
  height: 70px;
  top: 0;
  position: sticky;
}

.navbar .fas {
  color: var(--textColorHead);
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100vw);
  width: 100vw;
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Slide in animation with delay for each */

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Theme Toggle ------------------------------ */

.dark-mode-toggle {
  background: transparent;
  border: none;
  color: var(--textColorHead);
  display: inline;
  position: fixed;
  right: 7rem;
  top: 1rem;
}

/* --- Menu Bars ------------------------------------ */

.logo {
  cursor: pointer;
  display: inline;
  position: fixed;
  left: 2rem;
  top: 1rem;
}

.menu-bars {
  cursor: pointer;
  display: inline;
  position: fixed;
  right: 2rem;
  top: 1rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background: var(--textColor);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Hero Section ------------------------------ */

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin-top: 0;
  text-align: center;
  object-fit: cover;
}

.cover .subtitle {
  color: #444;
  font-weight: normal;
}

/* --- About Section ------------------------------ */
.about-section {
  max-width: 1170px;
  padding-top: 20px;
}

.banner {
  background-size: cover;
  max-height: 400px;
  width: 100%;
}

/* --- Articles ------------------------------ */

.grid-container {
  display: grid;
  grid-gap: 10px;
  margin: 0 20px;
  max-width: 1170px;
}

/* No Grid Suppport */
.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  margin: 0 auto;
}

.card {
  background: var(--bgContainer);
  border: 1px solid var(--bgBorder);
  color: var(--textColor);
  flex: 1 1 200px;
}

.card-img {
  background-size: cover;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-description {
  margin-left: 0;
}

.card-link {
  color: var(--primaryColor);
}

.card-link i {
  color: var(--primaryColor);
  font-size: 1rem;
}

/* --- Contact Form ------------------------------ */
.contact-form {
  background: var(--bgContainer);
  margin: 20px 0 100px 0;
  padding: 20px;
  max-width: 1170px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.input {
  background: #fff;
  color: #444;
  border: 1px solid #ccc;
  font-family: 'Open Sans', -apple-system, system-ui, sans-serif;
  font-size: 1rem;
  padding: 12px;
  resize: vertical;
  width: 92%;
  -webkit-appearance: none;
}

.label {
  color: var(--textColorHead);
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
}

/* --- Footer ------------------------------ */

footer {
  padding: 2rem;
  text-align: center;
}

.social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social li {
  padding: 0 0.5rem;
}

/* --- Media Queries ------------------------------ */

@media only screen and (max-width: 600px) {
  section {
    width: 100%;
  }
  footer {
    margin-bottom: 2rem;
  }
  .col-25,
  .col-75 {
    margin-top: 0;
    width: 100%;
  }
  .btn.submit {
    width: 100%;
    float: none;
  }
  .banner {
    max-height: 280px;
    width: 100vw;
  }
  .grid-container {
    width: 100%;
  }
}

@supports (display: grid) {
  .grid-container > * {
    margin: 0;
  }
}
