@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap');

/* --- Global Variables ------------------------------ */

:root {
  /* Colours */
  --white: #fff;
  --black: #000;
  --gray: #787e8a;
  --blue: #0070f3;
  --cyan: #00cdb3;
  /* Highlights */
  --purple: #5964e0;
  --magenta: #eb367f;
  --pink: #ff0080;
  --yellow: #fff500;
  /* Shadows */
  --clear: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
  --invert-dark: invert(0);
  --invert-light: invert(1);
  /* Typography */
  --heading-font: 'IBM Plex Mono', sans-serif;
  --body-font: 'IBM Plex Sans', sans-serif;
}

/* --- Theme ------------------------------ */

/* Light Theme */
body {
  --background: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #9fa6b2;
  --accent-4: #888;
  --accent-5: #666;
  --accent-6: #444;
  --accent-7: #333;
  --accent-8: #111;
  --foreground: #000;
  --navbar: var(--purple);
  --theme-img: url('https://raw.githubusercontent.com/josephgattuso/dev-jobs/master/public/cover_light.webp');
}

/* Dark Theme */
body.dark-theme {
  --background: #121721;
  --accent-1: #18202d;
  --accent-2: #333;
  --accent-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
  --foreground: #fff;
  --navbar: #121212;
  --theme-img: url('https://raw.githubusercontent.com/josephgattuso/dev-jobs/master/public/cover_dark.webp');
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --background: #121721;
    --accent-1: #18202d;
    --accent-2: #333;
    --accent-3: #444;
    --accent-4: #666;
    --accent-5: #888;
    --accent-6: #999;
    --accent-7: #eaeaea;
    --accent-8: #fafafa;
    --foreground: #fff;
    --navbar: #121212;
    --theme-img: url('https://raw.githubusercontent.com/josephgattuso/dev-jobs/master/public/cover_dark.webp');
  }
  body.light-theme {
    --background: #fff;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999;
    --accent-4: #888;
    --accent-5: #666;
    --accent-6: #444;
    --accent-7: #333;
    --accent-8: #111;
    --foreground: #000;
    --navbar: var(--purple);
    --theme-img: url('https://raw.githubusercontent.com/josephgattuso/dev-jobs/master/public/cover_light.webp');
  }
}

/* --- Layout ------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #333;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--accent-6);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  min-height: 80vh;
  width: 100vw;
  max-width: 1170px;
}

section p {
  margin: 1rem;
}

a {
  color: var(--foreground);
  text-decoration: underline;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--foreground);
  font-family: var(--heading-font);
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

i {
  color: var(--gray);
  font-size: 2rem;
  width: 36px;
}

ul {
  list-style: none;
}

.subtitle {
  color: var(--accent-6);
  font-family: var(--heading-font);
  font-weight: normal;
  margin-top: 5rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  background: var(--magenta);
  height: 0.25rem;
  margin: 1.5rem auto;
  width: 5rem;
}

/* --- Buttons ------------------------------ */

.btn {
  background: #000;
  border-radius: 0.3rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem 1.5rem 0 0;
  padding: 0.5rem 1rem;
  width: 48%;
  -webkit-appearance: none;
}

.btn:focus {
  outline: none;
}

.btn.submit {
  float: right;
}

/* --- Navigation Menu ------------------------------ */

/* Nav Menu Items */
nav,
nav ul {
  height: calc(100vh - 70px);
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 45%;
}

nav li a::before {
  background: var(--magenta);
  content: '';
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 47.5%;
  width: 25vw;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background: var(--accent-2);
}

nav li:nth-of-type(2) {
  background: var(--accent-3);
}

nav li:nth-of-type(3) {
  background: var(--accent-4);
}

nav li:nth-of-type(4) {
  background: var(--accent-5);
}

nav li:nth-of-type(5) {
  background: var(--accent-6);
}

nav i {
  color: var(--foreground);
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.navbar {
  background: var(--navbar);
  border: 1px solid var(--clear);
  height: 70px;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: calc(100vh - 70px);
  left: 0;
  position: fixed;
  top: 70px;
  transform: translateX(-100vw);
  width: 100vw;
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Slide in animation with delay for each */

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Theme Toggle ------------------------------ */

.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  outline: none;
  position: fixed;
  right: 7rem;
  top: 1rem;
}

.theme-toggle .fas {
  color: var(--white);
}

/* --- Menu Bars ------------------------------------ */

.logo {
  cursor: pointer;
  display: inline;
  position: fixed;
  left: 2rem;
  top: 1rem;
}

.menu-bars {
  cursor: pointer;
  display: inline;
  position: fixed;
  right: 2rem;
  top: 1rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background: var(--white);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Hero Section ------------------------------ */

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin-top: 0;
  text-align: center;
  object-fit: cover;
}

/* --- About Section ------------------------------ */

.about-section {
  max-width: 1170px;
  padding-top: 20px;
}

.banner {
  background-size: cover;
  max-height: 400px;
  width: 100%;
}

/* --- Projects Section ------------------------------ */

.feature-project .card {
  border-radius: 10px;
  margin: 0 auto;
  width: 85vw;
  max-width: 30rem;
}

.feature-img {
  background-image: var(--theme-img);
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 15rem;
}

.feature-project .card .card-features {
  margin-bottom: 0.8rem;
}

.slider-container {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  width: 100vw;
  max-width: 1170px;
}

.slider-container::-webkit-scrollbar {
  height: 0.3rem;
  width: 1rem;
}

.slider-container::-webkit-scrollbar-thumb {
  background: var(--magenta);
  cursor: pointer;
}

.slider-container::-webkit-scrollbar-track {
  background: var(--accent-3);
}

.slide {
  background: var(--accent-1);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  clear: both;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0;
  min-width: 350px;
  padding: 1.5rem;
  position: relative;
  scroll-snap-align: start;
  transition: 0.2s;
  width: 500px;
}

.slide:focus-within ~ .slide,
.slide:hover ~ .slide {
  transform: translateX(130px);
}

.slide:hover {
  transform: translateY(-1rem);
}

.slide:not(:first-child) {
  margin-left: -130px;
}

.slide-img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

/* --- Articles ------------------------------ */

.grid-container {
  display: grid;
  grid-gap: 10px;
  margin: 0 20px;
  max-width: 1170px;
  place-content: center;
}

/* No Grid Suppport */
.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
}

.card {
  background: var(--accent-1);
  box-shadow: var(--box-shadow);
  flex: 1 1 200px;
}

.card-title,
.slide-title {
  color: var(--foreground);
}

.card-img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.feature-img:hover,
.feature-img:focus {
  outline: none;
  opacity: 0.6;
}

.card-content {
  padding: 15px;
}

.card-features {
  list-style: circle;
  padding: 0 2rem;
}

.card-description {
  margin-left: 0;
}

.card-link,
.card-link i {
  color: var(--foreground);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.card-link:hover,
.card-link i:hover {
  color: var(--foreground);
}

/* --- Contact Form ------------------------------ */

.contact-form {
  background: var(--accent-2);
  box-shadow: var(--box-shadow);
  margin: 20px 0 100px 0;
  padding: 20px;
  max-width: 1170px;
}

.column.left {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.column.right {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.input {
  background: var(--white);
  border: 1px solid var(--accent-1);
  font-family: var(--body-font);
  font-size: 1rem;
  padding: 12px;
  resize: vertical;
  width: 92%;
  -webkit-appearance: none;
}

.label {
  color: var(--foreground);
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
}

/* --- Footer ------------------------------ */

footer {
  background: var(--black);
  border-top-right-radius: 6rem;
  color: var(--white);
  padding: 2rem;
  text-align: center;
  width: 100%;
}

footer ul li a {
  color: var(--white);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li {
  margin-left: 0.5rem;
}

/* --- Media Queries ------------------------------ */

@media only screen and (max-width: 600px) {
  section {
    width: 100%;
  }
  footer {
    margin-bottom: 2rem;
  }
  .btn.submit {
    width: 100%;
    float: none;
  }
  .banner {
    max-height: 280px;
    width: 100vw;
  }
  .card-img {
    height: 280px;
  }
  .column.left,
  .column.right {
    margin-top: 0;
    width: 100%;
  }
  .feature-project {
    width: 100%;
  }
  .grid-container {
    width: 100%;
  }
}

@supports (display: grid) {
  .grid-container > * {
    margin: 0;
  }
}
