@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

a:hover {
  text-decoration: underline;
}

.section-center {
  margin-top: 2rem;
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

figure {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.banner {
  height: 320px;
  width: 100%;
}

/* Navbar */

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav a {
  display: block;
  float: left;
  font-size: 1rem;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

/* Cover section */

.cover {
  background: linear-gradient(
    top,
    #666666 0%,
    #999999 44%,
    #eaeaea 100%
  ); /* W3C */
  background: -webkit-linear-gradient(
    top,
    #666666 0%,
    #999999 44%,
    #eaeaea 100%
  ); /* Chrome, Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  justify-content: center;
  text-align: center;
}

.cover h1 {
  color: #222;
  font-size: 48px;
}

.cover .subtitle {
  color: #444;
  font-weight: normal;
}

/* Contact Form */

input[type="text"],
input[type="email"],
select,
textarea {
  background: #fff;
  color: #444;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: "Open Sans", -apple-system, system-ui, sans-serif;
  font-size: 0.875rem;
  padding: 12px;
  resize: vertical;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

select {
  color: #999;
}

input[type="submit"] {
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

.contact-form {
  border-radius: 5px;
  background: #eaeaea;
  padding: 20px;
  max-width: 800px;
  margin: 0;
  margin-bottom: 100px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

footer {
  text-align: center;
  padding: 2rem;
}

/* Mobile tab navigation */

.mobile-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobile-nav ul {
  background: #fff;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

.mobile-nav li,
.mobile-nav a {
  color: #777;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.mobile-nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social li {
  padding: 20px;
}

/* Buttons */

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  background: #0070f3;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

.btn-toggle {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
/* Carousel */

.feature-project {
  background: #eaeaea;
  padding: 20px;
  max-width: 1170px;
}

.slider {
  background: #eaeaea;
  height: 620px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slider a {
  color: black;
  text-decoration: underline;
  margin-right: 10px;
}

.slider a:hover {
  color: #0070f3;
}

.slide {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 1s;
  z-index: 1;
}

.img {
  background: #eaeaea;
  width: 720px;
}

.slide.visible {
  opacity: 1;
  z-index: 2;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  input[type="submit"],
  .col-25,
  .col-75 {
    margin-top: 0;
    width: 100%;
  }
  figure img {
    width: 100vw;
  }
  .banner,
  .section-center {
    width: 100vw;
  }
  h1,
  h2,
  h3,
  p {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
  .banner {
    max-height: 280px;
  }
  .main-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    z-index: 2;
  }
}

@media only screen and (max-width: 600px) {
  .feature-project {
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }
  .slider {
    height: 520px;
  }
  .slide .img {
    width: 100vw;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    margin-top: 2rem;
    margin: 0 auto;
    width: 90vw;
    max-width: 1170px;
  }
}
