@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('./theme.css');

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  overflow-y: auto;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5rem;
}

a:hover {
  color: var(--text);
  text-decoration: none;
  background-position: 0 0;
  background-image: linear-gradient(
    to top,
    var(--accent),
    var(--accent) 0.15em,
    transparent 0.15em,
    transparent
  );
  word-wrap: break-word;
  text-decoration: none;
}

.section-center {
  margin-top: 2rem;
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

div {
  margin: 0;
  padding: 0;
}

figure {
  border-radius: 4px;
  border: 0.1ch solid var(--background-tertiary);
  margin: 2ch 0;
  padding: 1ch;
}

figcaption {
  border-top: 0.75px solid var(--background-tertiary);
  color: var(--text-secondary);
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1.25rem;
  margin: 0.25rem 0 0;
  padding-top: 1ch;
}

.img {
  height: 430px;
  margin: 0;
  object-position: center center;
  padding: 0;
  width: 100%;
}

.center {
  text-align: center;
}

.banner {
  height: 320px;
  width: 100%;
}

/* Navbar */

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav a {
  display: block;
  float: left;
  font-size: 1rem;
  margin: 15px;
  text-align: center;
  text-decoration: none;
}

/* Cover section */

.cover {
  background-image: url('images/jj-ying-7JX0-bfiuxQ.webp');
  background-position: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin-top: 0;
  text-align: center;
}

.cover h1 {
  font-size: 48px;
}

.cover img {
  object-fit: cover;
  width: 100vw;
}

.cover .subtitle {
  color: #444;
  font-weight: normal;
}

/* Contact Form */

input[type='text'],
input[type='email'],
select,
textarea {
  background: #fff;
  color: #444;
  border: 1px solid #ccc;
  font-family: 'Open Sans', -apple-system, system-ui, sans-serif;
  font-size: 0.875rem;
  padding: 12px;
  resize: vertical;
  width: 90%;
  -webkit-appearance: none;
}

select {
  color: #999;
}

input[type='submit'] {
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

.contact-form {
  border-radius: 5px;
  background: #eaeaea;
  padding: 20px;
  max-width: 800px;
  margin: 0;
  margin-bottom: 100px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Footer */

footer {
  padding: 2rem;
  text-align: center;
}

footer a {
  text-decoration: none;
}

/* Mobile tab navigation */

.mobile-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobile-nav ul {
  background: #fff;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

.mobile-nav li,
.mobile-nav a {
  color: #777;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.mobile-nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social li {
  padding: 20px;
}

/* Buttons */

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  background: #808080;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 1.5rem;
  width: 48%;
}

.btn:hover {
  opacity: 0.6;
}

.btn:focus {
  outline: none;
}

.btn-toggle {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
/* Carousel */

.feature-project {
  background: #eaeaea;
  max-width: 1170px;
  padding-top: 20px;
}

.feature-project h3,
.feature-project p,
.feature-project a:not(:first-of-type) {
  margin-left: 20px;
  margin-right: 20px;
}

.slider {
  background: #eaeaea;
  height: 620px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.slide.show {
  opacity: 1;
  z-index: 2;
}

.img {
  height: 320px;
  width: 100%;
  max-width: 720px;
  object-fit: cover;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
  .header {
    margin-top: 2rem;
    margin: 0 auto;
    width: 90vw;
    max-width: 1170px;
  }
}

@media screen and (max-width: 600px) {
  input[type='submit'],
  .col-25,
  .col-75 {
    margin-top: 0;
    width: 100%;
  }
  .banner,
  .section-center {
    width: 100vw;
  }
  h1,
  h2,
  h3,
  p {
    padding: 0 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
  .banner {
    height: 280px;
  }
  .main-nav a:not(:first-child) {
    display: none;
  }
  .main-nav {
    margin-bottom: 100px;
    position: fixed;
    left: 0;
    right: 0;
  }
  .mobile-nav {
    display: block;
    z-index: 2;
  }
}

@media only screen and (max-width: 600px) {
  .feature-project {
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
}
