@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  /* chrome */
  --chrome-1: #fafafa;
  --chrome-2: #eaeaea;
  --chrome-3: #999;
  --chrome-4: #888;
  --chrome-5: #666;
  --chrome-6: #444;
  --chrome-7: #333;
  --chrome-8: #121212;
  --chrome-9: #111;
  /* blue */
  --blue-1: #d3e5ff;
  --blue-2: #3291ff;
  --blue-3: #0070f3;
  --blue-4: #0761d1;
  /* cyan */
  --cyan-1: #82d8d8;
  --cyan-2: #79ffe1;
  --cyan-3: #00ffe5;
  --cyan-4: #29bc9b;
  /* pink */
  --pink-1: #f81ce5;
  --pink-2: #eb367f;
  --pink-3: #ff0080;
  --pink-4: #6c00f8;
}

/* --- Theme ------------------------------ */

:root {
  --bgColor: var(--white);
  --bgContainer: var(--chrome-2);
  --boxShadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --primaryColor: var(--cyan-4);
  --primaryColorAlt: #ff2d2d;
  --secondaryColor: #009696;
  --textColor: var(--chrome-9);
  --textColorAlt: var(--chrome-5);
  /* Nav */
  --navColor1: var(--chrome-2);
  --navColor2: var(--chrome-3);
  --navColor3: var(--chrome-4);
  --navColor4: var(--chrome-5);
  --navColor5: var(--chrome-6);
  /* Typography */
  --headingFont: 'IBM Plex Mono', sans-serif;
  --bodyFont: 'IBM Plex Sans', sans-serif;
}

[data-theme='dark'] {
  --bgColor: var(--chrome-8);
  --bgContainer: var(--chrome-6);
  --primaryColor: var(--cyan-1);
  --primaryColorAlt: #6c63ff;
  --secondaryColor: #03dac5;
  --textColor: rgba(255, 255, 255, 0.9);
  --textColorAlt: rgba(255, 255, 255, 0.7);
  /* Nav */
  --navColor1: var(--chrome-8);
  --navColor2: var(--chrome-7);
  --navColor3: var(--chrome-6);
  --navColor4: var(--chrome-5);
  --navColor5: var(--chrome-4);
  /* 
  --bgCard: var(--black);
  --pinnedColor: var(--teal);
  --sheetBg: var(--black);
  --sheetHover: var(--black-20);
  --sheetShadow: 0px 0px 22px rgba(0, 0, 0.4) inset, 0px 0px 4px rgba(0, 0, 0, 0.25 inset);
  --sheetTextColor: var(--white);
  */
}

/* --- Layout ------------------------------ */

html {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  margin: 0;
  padding: 0;
}

article {
  background: var(--background);
  color: var(--font-color);
}

pre {
  background: var(--font-color);
  color: var(--background);
  border-radius: 5px;
  padding: 16px;
}

section {
  margin: 2rem auto;
  min-height: 100vh;
  width: 100vw;
  max-width: 1170px;
}

.banner {
  height: 320px;
  width: 100%;
}

.img {
  height: 430px;
  margin: 0;
  object-position: center center;
  padding: 0;
  width: 100%;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--textColorAlt);
  font-family: var(--headingFont);
  font-weight: 400;
}

h1 {
  color: var(--textColor);
}

.title {
  text-align: center;
  text-transform: uppercase;
}

a {
  color: var(--blue-3);
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 25%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: var(--textColor);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

nav li a:hover {
  /* transform: scale(1.2); */
  color: var(--primaryColor);
}

nav li a::before {
  content: '';
  width: 25vw;
  height: 3px;
  background: var(--primaryColor);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background: var(--navColor1);
}

nav li:nth-of-type(2) {
  background: var(--navColor2);
}

nav li:nth-of-type(3) {
  background: var(--navColor3);
}

nav li:nth-of-type(4) {
  background: var(--navColor4);
}

nav li:nth-of-type(5) {
  background: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Theme Toggle ------------------------------ */

/* Dark Mode Toggle */
.theme-switch-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1rem;
  right: 7rem;
  z-index: 10;
}

.theme-switch-wrapper span {
  margin-right: 10px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

#toggle-icon > i {
  font-size: 1.5rem;
}

.switch {
  background: var(--chrome-3);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.switch::before {
  background: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .switch {
  background: var(--primaryColor);
}

input:checked + .switch::before {
  transform: translateX(26px);
}

.switch.round {
  border-radius: 34px;
}

.switch.round::before {
  border-radius: 50%;
}

/* --- Menu Bars ------------------------------------ */

.logo {
  position: fixed;
  top: 1rem;
  left: 2rem;
  display: inline;
  cursor: pointer;
}

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background: var(--textColor);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Hero Section ------------------------------ */

.cover {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin-top: 0;
  text-align: center;
}

.cover h1 {
  font-size: 48px;
}

.cover img {
  object-fit: cover;
  width: 100vw;
}

.cover .subtitle {
  color: #444;
  font-weight: normal;
}

/* --- About Section ------------------------------ */
.about-section {
  max-width: 1170px;
  padding-top: 20px;
}

/* --- Projects Section ------------------------------ */

.feature-project {
  background: var(--bgContainer);
  max-width: 1170px;
  padding-top: 20px;
}

.feature-project h3,
.feature-project p,
.feature-project a:not(:first-of-type) {
  margin-left: 20px;
  margin-right: 20px;
}

.slider {
  background: var(--bgContainer);
  border-radius: 4px;
  height: 620px;
  margin: 2ch 0;
  overflow: hidden;
  padding: 1ch;
  position: relative;
  text-align: center;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.slide.show {
  opacity: 1;
  z-index: 2;
}

.img {
  height: 320px;
  width: 100%;
  max-width: 720px;
  object-fit: cover;
}

/* --- Buttons ------------------------------ */

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  background: #000;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  width: 48%;
}

.btn:focus {
  outline: none;
}

/* --- Contact Form ------------------------------ */
.contact-form {
  background: var(--bgContainer);
  margin: 20px 0 100px 0;
  padding: 20px;
  max-width: 1170px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.input {
  background: #fff;
  color: #444;
  border: 1px solid #ccc;
  font-family: 'Open Sans', -apple-system, system-ui, sans-serif;
  font-size: 0.875rem;
  padding: 12px;
  resize: vertical;
  width: 90%;
  -webkit-appearance: none;
}

.label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

.submit {
  margin: 15px 20px 0 0;
  float: right;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
}

/* --- Footer ------------------------------ */

footer {
  padding: 2rem;
  text-align: center;
}

footer a {
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social li {
  padding: 20px;
}

.social .fab,
.social img {
  color: var(--blue-3);
  font-size: 2rem;
  width: 36px;
}

/* --- Media Queries ------------------------------ */

@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
  .col-25,
  .col-75 {
    margin-top: 0;
    width: 100%;
  }
  input[type='submit'] {
    width: 100%;
    float: none;
  }
  .banner,
  .section-center {
    width: 100vw;
  }
  .banner {
    height: 280px;
  }
  .feature-project {
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
}
