@import url("@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

/* Contact Form */

input[type="text"],
input[type="email"],
textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

input[type="submit"] {
  background: lightgray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 1rem;
}

label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 800px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* Navbar */

.topnav a:hover {
  text-decoration: underline;
}

.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav a {
  display: block;
  float: left;
  font-size: 1rem;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.topnav .icon {
  display: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Carousel */

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 530px;
  width: 420px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.slide {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: lightgray;
  border: none;
  font-size: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
