@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Contact Form */

input[type="text"],
input[type="email"],
textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

input[type="submit"] {
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 1rem;
}

label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

.center {
  text-align: center;
}

.contact-form {
  border-radius: 5px;
  background: #eaeaea;
  padding: 20px;
  max-width: 800px;
  margin-bottom: 100px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* Navbar */

.topnav a:hover {
  text-decoration: underline;
}

.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav a {
  display: block;
  float: left;
  font-size: 1rem;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.topnav .icon {
  display: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Cover section */

.cover {
  background: linear-gradient(
    top,
    #666666 0%,
    #999999 44%,
    #eaeaea 100%
  ); /* W3C */
  background: -webkit-linear-gradient(
    top,
    #666666 0%,
    #999999 44%,
    #eaeaea 100%
  ); /* Chrome, Safari */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cover h1 {
  color: #222;
  font-size: 48px;
}

.cover .subtitle {
  color: #444;
  font-weight: normal;
}

/* Footer */

footer {
  text-align: center;
  padding: 2rem;
}

/* Mobile tab navigation */

.mobile-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}

.mobile-nav ul {
  background: #fff;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

.mobile-nav li,
.mobile-nav a {
  color: #777;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.mobile-nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

nav ul li:hover,
nav ul li.active,
nav ul li a:hover,
nav ul li a.active {
  color: #8e44ad;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social li {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
  .mobile-nav {
    display: block;
    z-index: 2;
  }
  .topnav {
    display: none;
  }
}

/* Buttons */

.buttons-container {
  display: flex;
  justify-content: center;
}

.btn {
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  /* 0.5rem * 16px = 8px */
  padding: 0.5rem 2.5rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

/* Carousel */

.img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0.25rem;
}

h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0.5rem 0;
}
.title {
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.description {
  color: #222;
  max-width: 35em;
  margin: 0 auto;
  letter-spacing: 1px;
}
.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.slider {
  width: 85vw;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  padding: 1rem 0;
  /* set relative for buttons */
  position: relative;
}

.slider a {
  color: black;
  text-decoration: underline;
  margin-right: 10px;
}

.slide-container {
  display: flex;
  position: relative;
  height: 520px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}
