@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "open Sans", sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
}

li {
  list-style: none;
  padding: 10px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.push {
  margin-left: auto;
}
