:root {
  --chrome100: #fafafa;
  --chrome200: #eeeeee;
  --chrome300: #e0e0e0;
  --chrome400: #9e9e9e;
  --chrome500: #616161;
  --chrome600: #333333;
  --chrome700: #212121;
  --default-text-inverted: #ffffff;
  --default-text: #000000;
  --error100: #ef5350;
  --error200: #d32f2f;
  --error300: #c62828;
  --primary100: #dd2c00;
  --primary200: #b80012;
  --primary300: #18313d;
  --primary400: #124f6b;
  --primary500: #1d8fc4;
  --success100: #4caf50;
  --success200: #388e3c;
  --success300: #2e7d32;
  --warning100: #e1c542;
  --warning200: #ffa000;
  --warning300: #ff6f00;
}

body {
  --background: var(--chrome100);
  --background-secondary: var(--chrome200);
  --background-tertiary: var(--chrome300);
  --divider: var(--chrome300);
  --text: var(--default-text);
  --text-secondary: var(--chrome500);
  --accent: var(--primary100);
  --accent-secondary: rgba(221, 44, 0, 0.8);
  --box-shadow-layer-1: rgba(0, 0, 0, 0.2);
  --box-shadow-layer-2: rgba(0, 0, 0, 0.14);
  --box-shadow-layer-3: rgba(0, 0, 0, 0.12);
  --invert-dark: invert(1);
  --invert-light: invert(0);
}

body.dark-theme {
  --background: var(--chrome700);
  --background-secondary: var(--chrome600);
  --background-tertiary: var(--chrome500);
  --divider: var(--chrome300);
  --text: var(--default-text-inverted);
  --text-secondary: var(--chrome400);
  --accent: var(--primary100);
  --accent-secondary: rgba(221, 44, 0, 0.4);
  --box-shadow-layer-1: rgba(255, 255, 255, 0.2);
  --box-shadow-layer-2: rgba(255, 255, 255, 0.14);
  --box-shadow-layer-3: rgba(255, 255, 255, 0.12);
  --invert-dark: invert(0);
  --invert-light: invert(1);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --background: var(--chrome700);
    --background-secondary: var(--chrome600);
    --background-tertiary: var(--chrome500);
    --divider: var(--chrome300);
    --text: var(--default-text-inverted);
    --text-secondary: var(--chrome400);
    --accent: var(--primary100);
    --accent-secondary: rgba(221, 44, 0, 0.4);
    --box-shadow-layer-1: rgba(255, 255, 255, 0.2);
    --box-shadow-layer-2: rgba(255, 255, 255, 0.14);
    --box-shadow-layer-3: rgba(255, 255, 255, 0.12);
    --invert-dark: invert(0);
    --invert-light: invert(1);
  }
  body.light-theme {
    --background: var(--chrome100);
    --background-secondary: var(--chrome200);
    --background-tertiary: var(--chrome300);
    --divider: var(--chrome300);
    --text: var(--default-text);
    --text-secondary: var(--chrome500);
    --accent: var(--primary100);
    --accent-secondary: rgba(221, 44, 0, 0.8);
    --box-shadow-layer-1: rgba(0, 0, 0, 0.2);
    --box-shadow-layer-2: rgba(0, 0, 0, 0.14);
    --box-shadow-layer-3: rgba(0, 0, 0, 0.12);
    --invert-dark: invert(1);
    --invert-light: invert(0);
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  animation: mte 1.5s 0s forwards ease-in-out;
  transition: background 100ms ease-in-out, color 200ms ease-in-out !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a,
.feature-project,
.slider,
.contact-form {
  background: var(--background-tertiary);
}
